[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "swaRmverse"]
	path = swaRmverse
	url = https://github.com/marinapapa/swarmverse
